.Undo {
	border-radius: 4px;
	background: #272D2D;
	color: #F5FFFA;
	margin: 2em auto;
	display: block;
	padding: 10px;
	border: none;
	width: 4em;
	height: 3em;
}

.Undo:hover {
	background: #111;
}

.Timer {
	float: right;
	font-size: 10px;
}

.Content {
	display: flex;
	flex-direction: row;
}

.SideBar {
	margin-left: auto;
	background-color: #015249;
	color: #FFFFFA;
	text-align: left;
	width: 10%;
	padding: 1em 1.5em;
	font-size: 18px;
}

.SideBarButton {
	background: none;
	border: none;
	border-radius: 10px;
	font-size: 18px;
}

.SideBarButton:hover {
	background: #5F9EA0;
}

.DeleteLabelButton {
	background: none;
	border: none;
	border-radius: 10px;
	font-size: 12px;
	padding: 6px;
	margin: 2px;
}

.DeleteLabelButton:hover {
	background: #5F9EA0;
}

.SideBarHeadings {
	font-family: 'courier';
	font-size: 22px;
	font-weight: bold;

}

.SideBarSection {
	margin: 0 0 2em 0;
}

.Filler {
	margin-right: auto;
	width: 10%;
}

.NavBar {
	background-color: #272D2D;
}

.NavBar li {
	display: inline;
	margin: 0;
}

.NavBar li a {
	display: inline-block;
	padding: 12px 14px;
}

.HomeContainer {
	text-align: center;
}

.HomeContent {
	border: 4px solid #F5FFFA;
	padding: 48px;
	margin: 10%;
	display: inline-block;
	color: #333;
	font-size: 28px;
	font-weight: bold;
	font-family: Courier;
	white-space: pre-line;
	text-align: left;
}

.LabelInput {
	width: 70%;
	border: none;
	padding: 4px;
	font-size: 14px;
}

.Label {
	margin: .2em 0;
}

.LabelSubmit {
	color: #333;
	border: none;
	background: #D3D3D3;
	font-size: 14px;
	padding: 4px;
	margin: 2px;
	border-radius: 4px;
}

.LabelSubmit:hover {
	background: #C0C0C0;
}