.Undo {
	border-radius: 2px;
	background: #272D2D;
	color: #F5FFFA;
	margin: 2em auto;
	display: block;
	padding: 10px;
	border: none;
	width: 4em;
	height: 3em;
}

.Undo:hover {
	background: #111;
}

.Timer {
	float: right;
	font-size: 10px;
}

.Content {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

.HideSideBarButton:hover
{
	background: #5F9EA0;
}

.HideSideBarButton:focus {
	outline: none;
	background: #5F9EA0;
}



.Filler {
	margin-right: auto;
	width: 10%;
	min-width: 80px;
}

.NavBar {
	background-color: #272D2D;
	display: flex;
	direction: row;
}

.NavBar li {
	margin: 0;
}

.NavBar li a {
	display: inline-block;
	padding: 12px 14px;
}

.HideSideBarButton {
	font-size: 16px;
	border: none;
	color: white;
	border-radius: 22px;
	background: none;
	margin: 5px 10px 5px auto;
	padding: 6px;
}

.HomeContainer {
	text-align: center;
}

.HomeContent {
	border: 4px solid #F5FFFA;
	padding: 48px;
	margin: 10%;
	display: inline-block;
	color: #333;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Courier New', sans-serif;
	white-space: pre-line;
	text-align: left;
}