.Title:focus, .StepForm:focus {
	outline: none;
}

.Title {
	font-size: 28px;
	border: none;
	padding: 4px 4px;
	background: #F5FFFA;
	font-weight: bold;
}

.GoalFormWithLabel {
	margin: 35px auto;
}

.GoalForm {
	background: #F5FFFA;
	margin-bottom: 5px;
	width: 400px;
	border-radius: 4px;
	height: auto;
	padding: 10px;
}

.StepForm {
	border: 2px solid #8C8C8C;
	width: 80%;
	font-size: 1.5em;
	margin: 4px;
	padding: 2px;
}

.DeleteStep, .AddStep, .Submit, .GoalFormLabel {
	color: #333;
	border: none;
	background: #DCDCDC;
	font-size: 14px;
	padding: 6px;
	margin: 2px;
	border-radius: 4px;
}

.DeleteStep:hover, .AddStep:hover, .Submit:hover, .GoalFormLabel:hover {
	background: #C0C0C0;
}

.DeleteStep {
	height: 1.5em;
	width: 1.5em;
}

.LabelContainer {
	background: #F5FFFA;
	width: 400px;
	border-radius: 4px;
	height: auto;
	padding: 10px;
}

.LabelContainer > ul {
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap;
}

.LabelSelection {
	margin: 1px;
}

.LabelSelection > button{
	color: #333;
	border: none;
	background: #90EE90;
	font-size: 14px;
	padding: 6px;
	margin: 2px;
	border-radius: 4px;
}

.LabelSelection>button:focus {
	outline: 1px solid #333;
}

.LabelSelection > button:hover {
	background: #E6E6FA;
}