.Goal {
	break-inside: avoid;
	background: #F5FFFA;
	border-radius: 4px;
	padding: 18px;
	box-sizing: border-box;
	margin: 0 .3em .3em .3em;
}

.GoalTitle {
	background: #F5FFFA;
	font-size: 1.4em;
	font-weight: bold;
	font-color: #333;
	border: none;
	padding: .1em;
	box-sizing: border-box;
	width: 80%;
}

.Children {
	background: #F5FFFA;
	color: #2F4F4F;
	font-size: 1em;
	border: none;
	padding: .2em;
	box-sizing: border-box;
	height: 1.5em;
	width: 90%;
}

.Children:focus {
	outline: solid 2px #C0C0C0;
}

.GoalTitle:focus {
	outline: solid 2px #333;
}

.GoalContainer {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
}

.DropDown, .DeleteGoal {
	float: right;
}

.DropDown > button, 
.DeleteGoal > button {
	border: none;
	color: #333;
	margin: .2em;
	outline: none;
}

.DropDown > button:hover, 
.DeleteGoal > button:hover {
	background: #C0C0C0;
}

.CheckBox {
	width: 1.3em;
    height: 1.2em;
    outline: none;
}