*:focus {
	outline: 2px solid #B0C4DE;
}

* {
	font-family: 'Roboto', sans serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #57BC90; 
}

button {
	border-radius: 2px;
}

textarea {
	resize: none;
	overflow: hidden;
	background: #F5FFFA;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	background-color: #77C9D4;
}