.Note {
	background: #F5FFFA;
	border-radius: 4px;
	border: 2px solid #F5FFFA;
	padding: 12px;
	margin-bottom: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.NoteInputTitle, .NoteInputBody {
	border: none;
	padding: 4px 4px;
	white-space: pre-line;
	width: 300px;
}


.NoteInputTitle:focus, .NoteInputBody:focus {
	outline: 2px solid #333;
	overflow-wrap: break-word; 
}

.NoteContainer {
	max-width: 750px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
}

.NoteInputBody, textarea.NoteInputBody {
	font-size: 1.2em;
}

.NoteInputTitle {
	font-size: 1.6em;
	font-weight: bold;
}

.DeleteNoteButton {
	border: none;
	float: right;
}

.DeleteNoteButton:hover {
	background: #C0C0C0;
}

.NoteLabelContainer {
	background: #F0FFFF;
	border-radius: 4px;
	height: auto;
	border: 2px solid #F5FFFA;
	padding: 2px;

}

.NoteLabelContainer > ul {
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap;
	padding: 2px;
}

.NoteLabelSelection {
	margin: 4px;
}

.NoteLabelSelection > button{
	color: #333;
	border: none;
	background: #98FB98;
	font-size: 12px;
	padding: 7px;
	margin: 2px;
	border-radius: 2px;
}

.NoteWrapper {
	margin: 0 .3em 32px .3em;
}

.NoteLabelSelection>button:focus {
	outline: 1px solid #333;
}