.App {
	width: inherit;
	height: inherit;
}

.Note {
	background: #F5FFFA;
	border-radius: 4px;
	border: 2px solid #F5FFFA;
	padding: 12px;
	margin: 24px;
	box-sizing: border-box;
}

.NoteInputTitle, .NoteInputBody {
	border: none;
	padding: 4px 4px;
	white-space: pre-line;
}


.NoteInputTitle:focus, .NoteInputBody:focus {
	outline: none;
	overflow-wrap: break-word; 
}

.NoteContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row dense;
	width: 80%;
	margin: 20px auto;
}

.NoteInputBody {
	font-size: 16px;
}

textarea.NoteInputBody:hover, textarea.NoteInputTitle:hover {
	border: 2px solid #333;
}

.NoteInputTitle {
	font-size: 24px;
	font-weight: bold;
}

.DeleteNoteButton {
	border: none;
	float: right;
	margin: 2px;
}

.DeleteNoteButton:hover {
	background: #C0C0C0;
}

.NoteForm {
	width: 80%;
	margin: 35px auto;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.NoteForm > input[type=text] {
	padding: 10px;
	border-radius: 4px;
	border: 2px solid #F5FFFA;
	width: 360px;
	font-size: 20px;
}

.NoteForm > input[type=submit] {
	border-radius: 4px;
	background: #D3D3D3;
	padding: 10px;
}

.Undo {
	border-radius: 4px;
	background: #D3D3D3;
	margin: auto;
	display: block;
	padding: 10px;
}

.Timer {
	float: right;
	font-size: 10px;
}

.NavBar {
	background-color: #272D2D;
}

.NavBar li {
	display: inline;
	margin: 0;
}

.NavBar li a {
	display: inline-block;
	padding: 12px 14px;
}

.HomeContainer {
	text-align: center;
}

.HomeContent {
	border: 4px solid #F5FFFA;
	padding: 48px;
	margin: 10%;
	display: inline-block;
	color: #333;
	font-size: 28px;
	font-weight: bold;
	font-family: Courier;
	white-space: pre-line;
	text-align: left;
}