body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #00FF7F; 
}

textarea {
	resize: none;
	overflow: hidden;
	width: 95%;
	display: block;
	background: #F5FFFA;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	background-color: #111;
}

input[type=checkbox]:checked + span {
	text-decoration: line-through;
}